.topic-editbrick-col {
	width: 100%;
	padding: 1%;
	box-sizing: border-box;
	background-color: #FFFFFF;
}

.topic-editbrick-col-editorgroup {
	width: 85%;
	margin-top: 5%;
	padding: 0 2%;
	border-color: #9C9898;
}

.topic-editbrick-col-editorgroup-contentEditor{
	width: 90%;
	margin-left: 5%;
	box-sizing: border-box;
	border-bottom: solid 1px;
	border-color: #9C9898;
	font-size: 1.2em;
}

.topic-editbrick-col-editorgroup-contentEditor-active{
	margin-bottom: 3%;
	box-shadow: 0px 2px 0.5px;
}

.topic-editbrick-col-editorgroup-subEditor{
	width: 90%;
	margin-left: 5%;
	margin-top: 2%;
	padding: 0 1%;
	box-sizing: border-box;
	font-size: 1rem;
}

.topic-editbrick-col-input-save{
	width: 25%;
	margin-right: 5%;
	padding: 0.5%;
	float: right;
	border-color: transparent;
	border-radius: 3px;
	border-style: none;
	border-image: none;
	background-color: #466656;
	text-align: center;
	font-size: 1.8em;
	color: #FFFFFF;
	cursor: pointer;
}

.topic-editbrick-col-input-cancel {
	width: 25%;
	margin-right: 5%;
	padding: 0.5%;
	float: right;
	border-color: transparent;
	border-radius: 3px;
	border-style: none;
	border-image: none;
	background-color: #466656;
	text-align: center;
	font-size: 1.8em;
	color: #FFFFFF;
	cursor: pointer;
}

.topic-draft-stylegroup{
	width: 95%;
	margin-bottom: 2%;
	border-color: #9C9898;
	font-size: 1em;
	cursor: pointer;
}
